VITE_GAME_TYPE=2D
VITE_GAME_STARTER_SCENE=Level0
VITE_GAME_AFTER_LOAD_SCENE=IntroPrologue
VITE_GAME_DEBUG=false
VITE_ENABLE_SESSION_STORAGE=true
VITE_SHOW_PLAYER_STATS=false
VITE_STORAGE_KEY=freddy-rebel-machines-slayer